body {
  background-color: #990909;
  width: 1145px;
  font-size: 18px;
  color: #fff;
}

h1 {
  margin: 15px 0px 0px 0px;
  text-align: center;
}

.title-img {
  width: 50%;
}

nav {
  background-color: #000;
  height: 165px;
  padding-top: 25px;
  color: #fff;
}

ul {
  margin-block-start: 0px;
  margin-block-end: 0px;
  padding-inline-start: 0px;
  list-style: none;
}

.nav li {
  display: inline-block;
  width: 180px;
  margin: 0 50px;
  background-size: 100%;
  background-repeat: no-repeat;
  padding-top: 140px;
  text-align: center;
}

.nav-home {
  background-image: url(./images/img00.jpg);
}

.nav-about {
  background-image: url(./images/img01.jpg);
}

.nav-service {
  background-image: url(./images/img02.jpg);
}

.nav-contact {
  background-image: url(./images/img03.jpg);
}

.sidebar-right {
  display: block;
  background-color: #7d0909;
  width: 220px;
  height: 350px;
  margin: 2px;
  float: left;
}

.link {
  color: #e95b0d;
  text-decoration: underline;
  line-height: 2.2;
}

.sidebar-left {
  display: block;
  background-color: #e3dddd;
  color: #000;
  width: 175px;
  height: 350px;
  margin-top: 2px;
  margin-bottom: 20px;
  float: right;
}

h2 {
  background-color: #bdbdbd;
  font-size: 18px;
  font-weight: 700;
  color: #000;
  text-align: center;
  margin: 1px;
}

.side-div {
  padding-left: 1px;
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 22px;
}

hr {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: 40px;
  margin-right: 40px;
  border-style: inset;
  border-width: 1px;
}

article div {
  margin-top: 25px;
}

.footer {
  margin-top: 92px;
}

.copyright {
  background-color: #e95b11;
  font-size: 20px;
  color: #fff;
  text-align: center;
}
